* {
  --background-color: rgb(44, 9, 9);
  --background-color-shift: rgb(39, 8, 8);
  --color-light: rgb(193, 207, 198);
  --color-dark: rgb(17, 24, 22);
  --color-text: rgb(236, 236, 236);

  --color-bold: rgb(233, 196, 106);
  --color-highlight: rgba(233, 196, 106, 0.2);

  --inverse-background: rgb(75, 17, 17);
  --inverse-text: rgb(236, 236, 236);
  --reading-background: rgb(236, 236, 236);
  --reading-text: rgb(17, 24, 22);

  --color-pop: rgb(218, 165, 32);
  --color-pop-shifted: rgb(233, 196, 106);

  --color1: rgb(88, 34, 34);
  --color2: rgb(93, 85, 85);
  --color3: rgb(233, 196, 106);
  --color4: rgb(75, 17, 17);
  --color5: rgb(231, 111, 81);
  --color6: rgb(225, 249, 244);

  --stampwidth: 16rem;
  --stampheight: 16rem;
  --stamp-padding: 1rem;

  --square: 4rem;
}

/* BASE APPEARANCE  */

body {
  font-family: "Raleway", "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  color: var(--reading-text);
  font-size: 1.15rem;
  line-height: 1.75rem;
  background: linear-gradient(
    70deg,
    var(--background-color),
    var(--background-color-shift)
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

p {
  padding-top: 0.75rem;
}

b {
  font-weight: bold;
}
.hideme {
  visibility: hidden;
}
